body{
    background-color: #1e1f24;
    color: #333;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

#container{
    background-color: #fff;
    width: 70%;
    border: 1px solid #b4b4b4;
    margin: 0 auto;
    text-align: left;
}

#cabecera img{
    width: 50px;
    vertical-align: middle;
}

#cabecera{
    background-color: #0000cd;
    color: #fff;
    padding: 1em;
    margin: 0;
    font-size: 1.7em;
    font-weight: 300;
    box-shadow: 0px 7px 14px -8px rgba(0,0,0,0.75);
}

#tagline{
    font-size: .6em;
    padding-left: 1em;
}

#container h1{
    font-size: 25px;
}

#container #post{
    padding: 2em;
}